policy_module(wincashcoin, 1.100.1)

########################################
#
# Declarations
#

type wincashcoin_t;
type wincashcoin_exec_t;
init_daemon_domain(wincashcoin_t, wincashcoin_exec_t)

permissive wincashcoin_t;

type wincashcoin_initrc_exec_t;
init_script_file(wincashcoin_initrc_exec_t)

type wincashcoin_conf_t;
files_type(wincashcoin_conf_t)

type wincashcoin_var_lib_t;
files_type(wincashcoin_var_lib_t)

type wincashcoin_var_run_t;
files_type(wincashcoin_var_run_t)

type wincashcoin_port_t;
corenet_port(wincashcoin_port_t)

########################################
#
# wincashcoin local policy
#
allow wincashcoin_t self:process { fork };

allow wincashcoin_t self:fifo_file rw_fifo_file_perms;
allow wincashcoin_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(wincashcoin_t, wincashcoin_conf_t, wincashcoin_conf_t)
manage_files_pattern(wincashcoin_t, wincashcoin_conf_t, wincashcoin_conf_t)

manage_dirs_pattern(wincashcoin_t, wincashcoin_var_lib_t, wincashcoin_var_lib_t)
manage_files_pattern(wincashcoin_t, wincashcoin_var_lib_t, wincashcoin_var_lib_t)
files_var_lib_filetrans(wincashcoin_t, wincashcoin_var_lib_t, { dir file })

manage_dirs_pattern(wincashcoin_t, wincashcoin_var_run_t, wincashcoin_var_run_t)
manage_files_pattern(wincashcoin_t, wincashcoin_var_run_t, wincashcoin_var_run_t)

sysnet_dns_name_resolve(wincashcoin_t)
corenet_all_recvfrom_unlabeled(wincashcoin_t)

allow wincashcoin_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(wincashcoin_t)
corenet_tcp_sendrecv_generic_node(wincashcoin_t)
corenet_tcp_sendrecv_all_ports(wincashcoin_t)
corenet_tcp_bind_generic_node(wincashcoin_t)

gen_require(`
    type wincashcoin_port_t;
')
allow wincashcoin_t wincashcoin_port_t:tcp_socket name_bind;

gen_require(`
    type wincashcoin_port_t;
')
allow wincashcoin_t wincashcoin_port_t:tcp_socket name_connect;

domain_use_interactive_fds(wincashcoin_t)

files_read_etc_files(wincashcoin_t)

miscfiles_read_localization(wincashcoin_t)

sysnet_dns_name_resolve(wincashcoin_t)

allow wincashcoin_t wincashcoin_exec_t:file execute_no_trans;
allow wincashcoin_t self:process setsched;
corecmd_exec_ls(wincashcoin_t)
corenet_tcp_connect_http_port(wincashcoin_t)
dev_read_urand(wincashcoin_t)
fs_getattr_xattr_fs(wincashcoin_t)
kernel_read_system_state(wincashcoin_t)
